body {
	background-color: #EEE;
	font-family: Tahoma;
	font-size: 12px;
	padding-bottom: 20px;
	margin-top: 0;
}

#top {
	 position: fixed;
	 left: 0;
	 top: 0;
	 height: 25px;
	 z-index: 999;
	 background-color: #888;
	 width: 100%;
	 padding: 5px;
	 color: #6AE8AC;
}

#titre {
	text-align: right;
	margin-top: 0px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
	float: right;
} 

.main {
	position: fixed;
	top: 40px;
}

#side {
	float: left;
	top: 40px;
    position: fixed;	
	width: 200px;
	height: calc(100% - 60px);
	overflow-y: scroll;
}

#side td h3 {
	width : 115px;
	word-wrap: break-word;
	margin-left: -3px;
}

#main-calcul {
	position: fixed;
	top: 40px;
	left: 215px;
	width: calc(100% - 220px);	
}

.nombre {
	text-align: right;
}

.btn-releve {
	border-style: outset;
}

.btn-enfonce {
	border-style: inset;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 20px;
	z-index: 999;
	background-color: #888;
	width: 100%;
}

footer p {
	text-align: right;	
	padding: 0;
	margin: 0;
	margin-right: 5px;
}