<!DOCTYPE HTML>
<html ng-app="optimex">
<head>
	<title>Optimex</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="css/style.css" rel="stylesheet">
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js"></script>
-->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	
	<script src="rest/lib/php_crud_api_transform.js"></script>
	<script src="app/optimex.js"></script>
	<script src="app/services/bd.js"></script>
	<script src="app/directives/dir-table-alliage.js"></script>
	<script src="app/directives/dir-table-matiere.js"></script>
</head>
<body ng-controller="optimexCtrl">
	
	<div id="top">
		<div id="titre">
			Optimex
		</div>	
	</div>	
		
	<div id="side">
		<h2>Alliage visé</h2>
		
		<select ng-options="alliage as alliage.Nom for alliage in alliages track by alliage.CodeAlliage" ng-model="alliage" ng-change="changeAlliage()"></select> 
		<br>

		<dir-table-alliage table="alliage"></dir-table-alliage>

		<br>
			
		<h2>Matières premières</h2>
			<div ng-repeat="m in matieres">
				<dir-table-matiere table="m"></dir-table-matiere>
			</div>
	</div>	
	
	<div id="main">
		Tonnage visé
		<input type="text"></input>
		<button>Calculer</button>
	</div>

	<footer><p>
	par <a href="http://jvjulien.free.fr" target="_blank">au gré du vent 1.0</a>
	</p>
	</footer>

</body>
</html>