<!DOCTYPE HTML>
<html ng-app="optimex">
<head>
	<title>Optimex</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="css/style.css" rel="stylesheet">
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js"></script>
-->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	
	<script src="rest/lib/php_crud_api_transform.js"></script>
	<script src="app/optimex.js"></script>
	<script src="app/services/bd.js"></script>
</head>
<body ng-controller="optimexCtrl">

	<div>
		<select ng-options="alliage as alliage.Nom for alliage in alliages track by alliage.CodeAlliage" ng-model="alliage" ng-change="changeAlliage()"></select> 
		<br>

		<h3>{{alliage.Nom}}</h3>
		<table>
			<tr ng-repeat="m in alliage.minimaxi">
				<td>{{m.Element}}</td>
				<td class="nombre">{{m.TeneurMini | number:2}}</td>
				<td class="nombre">{{m.TeneurMaxi | number:2}}</td>
			</tr>
		</table>
		<br>
		
		<h3>Matières premières</h3>
			<div ng-repeat="m in matieres">
				{{m.Nom}}
				<!--
				<table>
					<tr ng-repeat="c in m.compo">
						<td>{{c.Element}}</td>
						<td class="nombre">{{c.Teneur | number:2}}</td>
					</tr>
				</table>				
				-->
			</div>
	</div>	

	<footer><p>
	par <a href="http://jvjulien.free.fr" target="_blank">au gré du vent 1.0</a>
	</p>
	</footer>


</body>
</html>