	<table>
		<tr>
		<td>
		<h3>{{alliage.Nom}}</h3>
		</td>
		<td>
		<button ng-show="alliage" ng-click="toggle()" class="{{etatBouton}}">Editer</button>
		</td>
		</tr>
	</table>	
		<table>
			<tr ng-repeat="m in alliage.minimaxi">
				<td>{{m.Element}}</td>
				<td ng-hide="showMe" class="nombre">{{m.TeneurMini | number:2}}</td>
				<td ng-hide="showMe" class="nombre">{{m.TeneurMaxi | number:2}}</td>
				<td ng-show="showMe" class="nombre"><input ng-model="m.TeneurMini" type="text" value="{{m.TeneurMini | number:2}}" size="5"></input></td>
				<td ng-show="showMe" class="nombre"><input ng-model="m.TeneurMaxi" type="text" value="{{m.TeneurMaxi | number:2}}" size="5"></input></td>
			</tr>
		</table>